{% extends "fooditems/base.html" %} {% block title %}Add User{% endblock title %}

{% block main_content %}      
  <section class="container" >
    <div class='row text-center text-white mt-5'>
      <h1>Add User</h1><br/>
      <a class='btn btn-primary col-sm-1' href='{% url "foodhome" %}'><</a>
    </div>
    
    <div class='row justify-content-around mt-3'>
      <div class='col-sm-4'>
        <form action='' method='POST' class="bg-white p-4 rounded shadow">
            {% csrf_token %}
            {{ form }} <br/>
            <input type="submit" value="Submit" class="btn btn-primary" name="addUser_submit" />
        </form>
     
    </div>
    </div>
  </section>

{% endblock main_content %}