<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>login page</title>
</head>
<body>
    {% for message in messages %}

    <div class='alert alert-{{ message.tags }} alert-dismissible fade show' role="alert" >
    <strong>Messages:</strong> {{ message }} 
    <span aria-hidden='True'>&times;</span>
    </div>

    {% endfor %}
    <section>
            <div class="px-12 py-3 px-md-9 text-center text-lg-start align-itmes-center" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <form action='/login1' method='post' >
                {% csrf_token %}
                    <!-- username input -->
                    <div class="form-outline mb-6">
                    <input type="username" name="username-login" class="form-control" />
                    <label class="form-label" for="form2Example1">Username</label>
                    </div>
                
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                    <input type="password" name="pass-login" class="form-control" />
                    <label class="form-label" for="form2Example2">Password</label>
                    </div>
                
                    <!-- 2 column grid layout for inline styling -->
                    {% comment %} <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
                        <label class="form-check-label" for="form2Example34"> Remember me </label>
                        </div>
                    </div>
                
                    <div class="col">
                        <!-- Simple link -->
                        <a href="#!">Forgot password?</a>
                    </div>
                    </div> {% endcomment %}
                
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                    
                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Not a member? <a href="/signup">Register</a></p>
                    </button>
                    </div>
                </form>
        </div>
        </div>
    </section>
</body>
</html>